header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
   
}

.img-header img{
    max-height: 2.5em;
  margin-right: 6px;
  
}
.nav-header{
    padding: 1.3em;
}

.nav-header ul{
    margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-header li{
    margin: 0 15px;
}

.nav-header  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    text-decoration: none;
}

.nav-header a:hover{
   color: #0758e4;
}

body{
    background-color: #ffffff;
}

main{
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
  
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
}
.person{
    display: flex;
    justify-content:center;
}

.person img{
    width: 15em;
    object-fit: contain;
}

main h1{
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: rgb(0, 0, 0);

}

footer{
    background-color: #ffffff ;
    display: flex;
    justify-content: center;
}

.nav-footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-footer  li{
    margin: 0 15px;
}

.nav-footer ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    text-decoration: none;
}

.nav-footer a:hover{
    color: #0758e4;
 }
