* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;

}

.img-header img {
    max-height: 2.5em;
    margin-right: 6px;

}

.nav-header {
    padding: 1.3em;
}

.nav-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-header li {
    margin: 0 15px;
}

.nav-header a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 700;
    color: #013289;
    text-decoration: none;
}

.nav-header a:hover {
    color: #0758e4;
}

body {
    background-color: #ffffff;
}

.container{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(240, 240, 240) , rgb(241, 241, 241), #fff);
    width: 450px;
   padding: 1.5rem; 
   margin: 50px auto;
   border-radius: 10%;
}

form{
   margin: 0 2rem;
}

.terms a{
    text-decoration: none;
    color: rgb(0, 99, 247);
}

.form-title{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
  
}
.input-group{
    padding: 1% 0;
}

.input-group input{
    color: inherit;
    width: 100%;
    background-color: transparent;
}

.input-group i{
    color: black;
}
