header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 10px rgb(148, 146, 146);
}

.img-header img{
    max-height: 2.5em;
  margin-right: 6px;
  
}
.nav-header{
    padding: 1.3em;
}

.nav-header ul{
    margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-header li{
    margin: 0 15px;
}

.nav-header  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    text-decoration: none;
}

.nav-header a:hover{
   color: #0758e4;
}

body{
    background-color: #f2f3f5;
}
main{
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #241f1f;
    box-shadow: 0 0 10px rgb(43, 42, 42);
    border-radius: 8px;
}


main h1{
    text-align: center;
    font-family: "Silkscreen";
    color: white;

}

footer{
    background-color: #0a2351 ;
    display: flex;
    justify-content: center;
}

.nav-footer ul{
    display: flex;
    list-style: none;
}

.nav-footer ul li{
    margin: 0 15px;
}

.nav-footer ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2em;
}
